
.imgProduct{
    height: 80px;
    width: 80px;
}

.sortable td{

    font-size: 20px;
    text-align: center;
}

table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

body{
    background-image: url('image/bois.png');

}
.search{
    padding-top: 60px;
}

h1{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bolder;
}
.sport td{
    font-size: 25px;
    font-weight: bold;
}
.banner img{
    width: 100%;
}
.sportif .imgProduct{
    padding-top: 20px;
    height: 250px;
    width: 250px;
}
.texteSport{
    padding-top: 40px;
    font-size: 35px;
}
.table-hover{
    border: none;
}
.choix{
    padding-top: 30px;
}