
.imgProduct{
    height: 80px;
    width: 80px;
}

.sortable td{

    font-size: 20px;
    text-align: center;
}

table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;

}

body{
    background-image: url('image/bois2.png');

}
.search{
    padding-top: 60px;
}

.h1{

    margin-left: 200px;
}

.coco{
    width: 400px;
    margin-left: 85px;
}
h1 a{
    text-decoration: none;
}
h1{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bolder;
}
.sport td{
    font-size: 25px;
    font-weight: bold;
}
.banner img{
    width: 100%;
}
.sportif .imgProduct{
    padding-top: 20px;
    height: 250px;
    width: 250px;
}
.texteSport{
    padding-top: 40px;
    font-size: 35px;
}
.table-hover{
    border: none;
}
.choix{
    padding-top: 30px;
}
.prod{

    font-family: 'Permanent Marker', cursive;
    background: linear-gradient(to left, transparent, white);
    box-shadow: 8px 8px 8px black;
    padding-bottom: 15px;
}